<footer>
            <div class="row">
                <div class="col-lg-12 footer">
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br /><br>
                            <br><b>Note:</b> This repository is a community project and does not serve as official Microsoft documentation - feedback and comments are much appreciated.</br>
<br>For official Azure Sentinel documentation, <a alt='Azure Sentinel Documentation' href='https://docs.microsoft.com/en-us/azure/sentinel/'>click here</a>.</br>
                        </div>
            </div>
</footer>
